<div class="text-center" class="row" ng-show="singleMovieVisibility">

  <button class="btn btn-success" ng-click="toggleMovies();toggleSingleMovie()">Back to movies</button>

  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Movie Poster</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img class='moviePoster' ng-src="http://image.tmdb.org/t/p/original{{movieImages[0].file_path}}">
        </td>
        <tr ng-repeat="movieTrailer in movieTrailers">
          <td>
            <a ng-href="http://www.youtube.com/watch/{{movieTrailer.source}}" target="_blank">{{movieTrailer.name}}</a>
          </td>
        </tr>
      </tr>
    </tbody>
  </table>

</div>
